<div class="container-fluid">
  
  <div class="row">
      <div class="col-md-5">
        <h5 class="text-center">Execuções em Andamento</h5>
        <div style="text-align: center" *ngIf="loadingExecs">
            <img src="assets/img/cube.gif" width="80px" />
        </div>
        <div class="table-responsive w-auto" *ngIf="!loadingExecs">
          <table class="table-hover table-sm table-bordered">
            <thead class="thead">
              <tr style="text-align:center;">
                <th scope="col">Agente</th>
                <th scope="col">Online</th>
                <th scope="col">Estado Atual</th>
                <th scope="col">Workflow</th>
                <th scope="col">Task</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let agente of agentes">
                <td style="font-weight: bold">{{agente.nomeAgente}}</td>
                <td style="text-align:center;"><img [src]="agente.exibeImgOnline()" width="20px" [title]="agente.exibeTituloOnline()"/></td>
                <td style="text-align:center;"><img [src]="agente.exibeImgEstadoAtual()" width="25px" [title]="agente.exibeTituloEstadoAtual()"/></td>
                <td>{{agente.workFlow.nomeWorkFlow}}</td>
                <td>{{agente.workFlow.nomeTask}}</td>
              </tr>
            </tbody>
          </table>
         </div> 
         <div style="text-align: left; padding-top: 10px;">
          <button [disabled]="loadingExecs" type="button" class="btn btn-primary btn-sm botaoAtualizar" (click)="capturarExecucoes()">Atualizar</button>
         </div>
      </div>      
      <div class="col-md-4">
        <h5 class="text-center">Próximas Execuções</h5>
        <div style="text-align: center" *ngIf="loadingProxExecs">
              <img src="assets/img/cube.gif" width="80px" />
        </div>  
        <div class="table-responsive w-auto" *ngIf="!loadingProxExecs">
          <table class="table-hover table-sm table-bordered">
                <thead class="thead">
                    <tr>
                      <th scope="col">Nome Workflow</th>
                      <th scope="col">Agente</th>
                      <th scope="col">Próxima Execução</th>
                    </tr>
                  </thead>   
                  <tr *ngFor="let proximaExec of proximasExecucoes">
                      <td>{{proximaExec.workFlow.nomeWorkFlow}}</td>
                      <td style="font-weight: bold">{{proximaExec.workFlow.agente.nomeAgente}}</td>
                      <td>{{proximaExec.proximaExecucao | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                    </tr>                 
          </table>
        </div>
      </div>  
      
      <div class="col-md-3" style="padding-left: 70px;">
          <h5 class="text-center">Monitoramento Máquinas Virtuais</h5>
          <iframe width="400" height="600" frameborder="0"  id="iframe_monitoramento"
                  src="http://qaserver01.vpar.votorantim.grupo/public/mapshow.htm?id=3190&mapid=12DFFFBF-D5E6-4B8E-8F9D-03AE1FF87CE1">
          </iframe> 
      </div>
  </div>
</div>